@import '../styles/sb-admin-2.css';
/* @import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900'); */


:root {
  --background: #ffffff;
  --foreground: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #666;
  }
}

html, body {
  color: #666;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container-landing {
  padding-left: 0rem;
  padding-right: 0rem;
}

.full-width-banner {
  width: 100%;
  max-width: 100vw; /* Ensures it spans the viewport width */
  
  /* Create a gradient that fades to white on the sides */
  background: linear-gradient(to right, 
    rgba(255, 255, 255, 1) 0%,    /* White on the far left */
    rgba(90, 92, 105, 1) 45%,     /* Dark gray in the center */
    rgba(90, 92, 105, 1) 55%,     /* Keep dark in center */
    rgba(255, 255, 255, 1) 100%   /* White on the far right */
  );

  color: #ffffff; /* White text */
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.full-width-banner h2 {
  margin: 0;
}

@media (max-width: 430px) {
  .container-landing {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* Make each team take up half the row, for example */
  .col-3 {
    flex: 0 0 50% !important; /* 2 logos per row */
    max-width: 50% !important;
    padding: 0;
  }

  img.img-fluid {
    max-width: 80px;
    height: auto;
  }
}




